# String Assignment

### upper()

* 1 upper function used for When we need all letter in Capital Form

In [12]:
student_name = "Sajjad ALi"
institute_name = "Saylani Mass IT Training"
course_name = "AI and Data Science"
age = 30

Student_card = f""" 
    Institue Name : {institute_name}
    Student Name: {student_name}
    Course Name:  {course_name}
    Studetn Age   {age}

"""



print(Student_card.upper())

    INSTITUE NAME : SAYLANI MASS IT TRAINING
    STUDENT NAME: SAJJAD ALI
    COURSE NAME:  AI AND DATA SCIENCE
    STUDETN AGE   30

### Lower method
* 2 lower method used for when we need letter in small abc for any purpose

In [15]:

student_name = "SAJJAD ALI"
institute_name = "SAYLANI MASS IT TRAINING"
course_name = "AI AND DATA SCIENCE"
age = 30

Student_card = f""" 
    Institue Name : {institute_name}
    Student Name: {student_name}
    Course Name:  {course_name}
    Studetn Age   {age}

"""



print(Student_card.lower())

    institue name : saylani mass it training
    student name: sajjad ali
    course name:  ai and data science
    studetn age   30

## title()
* 3 converts the first character to upper case and rest to lower case

In [8]:

title_text = "post title welcome to the saylani mass it training program "
print(title_text.title())

Post Title Welcome To The Saylani Mass It Training Program

# swapcase()  
* 4 swaps the case of all characters in the string  upper case character to lowercase and viceversa

In [15]:
text = "CONVERTED lower to upper string"
print(text.swapcase())

converted LOWER TO UPPER STRING

## zfill()
* 5 zfill() method used for how many zeroes before t number do you want to add
* this method only used for string not for integer number

In [18]:
text = '15'

x = text.zfill(10)

print(x)

0000000015

## translate()
* 6  Use Disctionary with ascii codes replace

In [43]:
asscci = {83:  81}
text = "Hello Sam!"
print(txt.translate(asscci))

Hello Qam!

## strip()
* 7 stripe() method used for remove spaces

In [49]:
text = "     orange         "

x = text.strip()

print(" This is a", x, " and it is my favorite")

 This is a orange  and it is my favorite

In [ ]:
## startwith()

* 8 star

In [51]:
text = "Hi, welcome to my world."

x = text.startswith("Hi")

print(x)

False

## splitlines()
* 8 splitlines() this method used for start and end with array bracket

In [7]:
text = "Thank you for the Welcome to the saylani"

x = text.splitlines()

print(x)

['Thank you for the Welcome to the saylani']

## split()
* 9 split() method used for left and right side array and every word with single qoutes

In [5]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

## rstrip()
* rstrip() method used for remove white spaces from write right side

In [9]:
text = "     hello word     "

x = text.rstrip()

print(x)

     hello word

## lstrip()
* 10 lstrip() method used for remove white spaces from write left

In [11]:
text = "     hello word     "

x = text.lstrip()

print(x)

hello word

## rsplit()
* 11 esplit() method used for convert into string into array

In [17]:
text = "Sajjad, AHmed, Ali"

x = text.rsplit(", ")

print(x)

['Sajjad', 'AHmed', 'Ali']

## center() 
* 12 Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [19]:
text = "Sajjad Ali"

x = text.center(60)

print(x)

                         Sajjad Ali

## count
* 13 Return the number of times the value "f" appears in the string:

In [20]:
text = "Hello my self Sajjad Ali laghari iam working as a software enigineer"

x = text.count("a")

print(x)

8

## ecode()
* 14 encode the string

In [23]:
txt = "My name is sajjadt√•le"

x = txt.encode()

print(x)

b'My name is sajjadt\xc3\xa5le'

## endwith()
* 15 endwith method Check if the string ends with a . dot or not:

In [24]:
    txt = "Sajjad Ali Laghari"

x = txt.endswith(".")

print(x)

False

## expandtabs()
* 16 this function used for \t give more tabs but this will will as much you want less or more

In [28]:

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(10)

print(x)

H         e         l         l         o

## find()
* 17 find method used for find charater or word in sentence or paragraph it will return index of that number

In [31]:
text = "Hello, welcome to my Saylani Head office."

x = text.find("Saylani")

print(x)

21

## index()
* 18 index method will tell us index of that word letter

In [33]:
text = "Hello, welcome to Saylani."

x = text.index("to")

print(x)

15

## isalnum
* 19 this method will check alpha numeric and will return tru false

In [38]:
txt = "Company&"

x = txt.isalnum()

print(x)

False

## isalpha
* 20 this method will check only alpha and will return tru false

In [41]:
txt = "Company1"

x = txt.isalpha()

print(x)

False

## isascii
* 21 this method will check ascii number and will return tru false

In [49]:
txt = "kk"

x = txt.isascii()

print(x)

True

## isdecimal()
* 22 this method used for check isdecial number or not and return true false

In [54]:
txt = "10"

x = txt.isdecimal()

print(x)

False

## isdigit()
* 23 Check if all the characters in the text are digits

In [58]:
txt = "50800899"

x = txt.isdigit()

print(x)

True

## islower
* 24 Check if all the characters in the text are in lower case or not will return true false

In [65]:
text = "sajjad ali laghari!"

x = text.islower()

print(x)

True

## isnumeric()
* 25 this method will check value is numberic or not will return true false

In [67]:
text = "8k565543"

x = text.isnumeric()

print(x)

False

## printable
* 26 this method check text are pribale or not

In [72]:
txt = "$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"

x = txt.isprintable()

print(x)

True

In [74]:
txt = "   "

x = txt.isspace()

print(x)

False