In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sajjad sindhi\appdata\local\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sajjad sindhi\appdata\local\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sajjad sindhi\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sajjad sindhi\appdata\local\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\sajjad sindhi\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd


var = pd.Series([1,2,3,4,5,6])

var

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
var = pd.DataFrame([[1,2,3,4,5,6,7]])

var

   0  1  2  3  4  5  6
0  1  2  3  4  5  6  7

In [6]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [7]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [10]:
import numpy as np

data = np.random.randint(1,100,size=(5,4))

data = pd.DataFrame(data)

data

    0   1   2   3
0  89  86  24  27
1  21  75  50  47
2  34  82  10   1
3  98  79   8  24
4  49  22  64  49

In [14]:
rows_index = [['sindh','sindh','punjab','punjab'],
             ['karachi','hyderabad','lahore','faisalabad']
             ]

data = (200,300,150,175)

df = pd.DataFrame(data,columns=['Not of Students'],index=rows_index)

df

                   Not of Students
sindh  karachi                 200
       hyderabad               300
punjab lahore                  150
       faisalabad              175

In [4]:
def name_generator(max_len):
    r = np.random.randint(3,max_len,1)[0]
    fc = chr(np.random.randint(65,90,1)[0])
    remaing_letters = np.random.randint(97,122,r)
    remaing_letters = list(map(chr, remaing_letters))
    return fc+"".join(remaing_letters)

print(name_generator(5))

list(map(name_generator,np.random.randint(4,20,3)))

Mgvj

['Soqnwj', 'Qkkbh', 'Uxqxui']

In [6]:
def dob_generator(start, end):
    year = np.random.randint(start,end,1)[0]
    month = np.random.randint(1,12,1)[0]
    day = np.random.randint(1,28,1)[0]
    
    
    return pd.to_datetime(f'{year}/{month}/{day}')

dob_generator(1970,2017)

Timestamp('1977-08-13 00:00:00')

In [7]:
import pandas as pd
import numpy as np
samples = 10000

df = pd.DataFrame({
    "roll_no":np.arange(1, samples+1),
    "Name": list(map(name_generator,np.random.randint(4,20,samples))),
    "Father Name": list(map(name_generator,np.random.randint(4,20,samples))),
    "Course": np.random.choice(["AI","Web","Chatbot","Graphic","Video"], samples),
     "Fee": np.random.choice([1000,1500,2000], samples),
    "dob": [dob_generator(1969,i) for i in np.random.randint(1970,2017,samples)]
})

df1 = pd.DataFrame(np.random.randint(1,100,size=(samples,5)),
                  columns=["s1",'s2','s3','s4','s5'])
df1



df = pd.concat([df,df1], axis=1)

df

,roll_no,Name,Father Name,Course,Fee,dob,s1,s2,s3,s4,s5
0,1,Blxtiyyhv,Srrl,AI,1000,1988-02-10,1,50,35,63,73
1,2,Fvirvs,Hnylirn,Video,1000,1969-08-21,4,46,95,13,95
2,3,Mhfilgu,Gqvwhp,Web,1500,1981-06-11,55,8,65,46,53
3,4,Algtucljlxqsim,Bseaamgxu,Video,1500,1987-10-14,75,76,68,25,29
4,5,Htkfle,Mudvyugmcgjiieke,Web,2000,1969-05-23,77,54,63,59,18
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Ovdi,Vxoa,Web,1000,1978-01-07,84,84,46,25,21
9996,9997,Qksk,Fuwtw,Chatbot,1500,1979-03-25,30,73,84,23,99
9997,9998,Mtvcrqruhq,Utwhxt,Chatbot,1500,1985-01-05,98,29,2,92,63
9998,9999,Krckuw,Hwbiutlkif,Video,1000,1980-04-24,28,70,96,77,84
9999,10000,Ppjwrabcxfegtgco,Pbpop,Graphic,2000,1990-01-15,32,38,92,82,19

SyntaxError: invalid syntax (1967293353.py, line 3)