In [1]:
print("Hello")

Hello

In [2]:
student_name = "Sajjad ALi"
institute_name = "Saylani Mass IT Training"
course_name = "AI and Data Science"
age = 30

card = "Institute Name: " + institute_name + "\nStudent Name: " + student_name+ " Course Name:" + course_name+"\nAge: "+ str(age) 

print(card)

Institute Name: Saylani Mass IT Training
Student Name: Sajjad ALi Course Name:AI and Data Science
Age: 30

In [6]:
student_name = "Sajjad ALi"
institute_name = "Saylani Mass IT Training"
course_name = "AI and Data Science"
age = 30

Student_card = """ 
    Institue Name : {}
    Student Name: {}
    Course Name:  {}
    Studetn Age   {}

""".format('Saylani Welfaor','Sajjad Ali','Course Name',"Student Age")



print(Student_card)

    Institue Name : Saylani Welfaor
    Student Name: Sajjad Ali
    Course Name:  Course Name
    Studetn Age   Student Age

In [7]:
student_name = "Sajjad ALi"
institute_name = "Saylani Mass IT Training"
course_name = "AI and Data Science"
age = 30

Student_card = f""" 
    Institue Name : {institute_name}
    Student Name: {student_name}
    Course Name:  {course_name}
    Studetn Age   {age}

"""



print(Student_card)

    Institue Name : Saylani Mass IT Training
    Student Name: Sajjad ALi
    Course Name:  AI and Data Science
    Studetn Age   30