# class 2
* print something with the help of print() function
* print simple string and also string with the help of triple single qoute and tripe double qoutes

In [2]:
print("Hello")

Hello

In [5]:
print('''   
          Name:      Sajjad Ali
          Age :      23
          Batch:     04
          Education: Graduation
    ''')

          Name:      Sajjad Ali
          Age :      23
          Batch:     04
          Education: Graduation

In [6]:
print("""  
          Name:      Sajjad Ali
          Age :      23
          Batch:     04
          Education: Graduation
    """)

          Name:      Sajjad Ali
          Age :      23
          Batch:     04
          Education: Graduation

In [7]:
print("This is 'AI and Data Science' Spcialy Developed For Saylani Student ")

This is 'AI and Data Science' Spcialy Developed For Saylani Student

In [8]:
print('This "AI and Data Science" Course will change your life ')

This "AI and Data Science" Course will change your life

In [11]:
name =       "Sajjad Ali"
age  =       23
education =  "Graduation"
Batch     =  "Batch-04"
Course_duration = "8 Month"

print("Student name ",name)
print("Student age ",age)
print("Education ",education)
print("Batch   ",Batch)
print("Course Duratio ",Course_duration)

10

In [12]:
print(type(name))
print(len(name))

<class 'str'>

In [11]:
name =       "Sajjad Ali"
age  =       23
education =  "Graduation"
Batch     =  "Batch-04"
Course_duration = "8 Month"

print(len(name))
print(type(name))
print(id(name))
print(dir(name))

10
<class 'str'>
2446204257712
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Some builtin Functions Like Below
  * len()
  * type()
  * dir()
  * id()